{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg'); background-size: 100% 100%;"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>Horóscopo-Astrológica</h2>
          <p class="lead mb-0">
          	<ul class="list-unstyled">
          		<li><i>Los Decanatos</i></li>
          		<li><i>Calcula tu Decanato</i></li>
          		<li><i>Pequeña Guía Astrológica</i></li>
			</ul>
		  </p>
		  <hr>
		  <p>Los doce signos forman un círculo de 360 grados sobre el cual los astrólogos realizan su trabajo. Cada uno de los signos está dividido a su vez en tres partes iguales de 10 grados llamados decanatos. Un decanato corresponde pues a un periodo de días </p>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<h1>PEQUEÑA GUÍA ASTROLÓGICA</h1>
      	<p>
      		<p align="justify">
      			El signo astrológico nos aclara en relación con ciertos aspectos del carácter y del comportamiento desde la edad más temprana.
          </p>
          <p align="justify">
            Si desde hace 4000 años los hombres han constatado la existencia de un vínculo entre los astros y el destino de los humanos, es por lo menos la prueba que hay algo de verdad en esta relación!
          </p>
          <p align="justify">
            Gracias a esta guía astrológica, aprenda a conocerse mejor!
      		</p>
      		<br>
      		<p align="justify">
      			<i><b>LOS ELEMENTOS</b></i> Cada uno de los 12 signos del zodÍaco se encuentra bajo la influencia de los 4 elementos: fuego, tierra, aire, agua. Cada uno de los elementos brinda características comunes .
      		</p>
      		<br>
      		<p align="justify">
      			<b>Signos de FUEGO</b> • Aries – Leo – Sagitario.<br>
            <b style="padding-left: 4em;"><i> Características:</i></b> entusiasmo, autoridad, actividad
      		</p>
          <p align="justify">
            <b>Signos de TIERRA</b> • Tauro – Virgo – Capricornio.<br>
            <b style="padding-left: 4em;"><i> Características:</i></b> realismo, prudencia, método
          </p>
          <p align="justify">
            <b>Signos de AIRE</b> • Géminis – Libra – Acuario.<br>
            <b style="padding-left: 4em;"><i> Características:</i></b> sociabilidad, agilidad, ingeniosidad
          </p>
          <p align="justify">
            <b>Signos de AGUA</b> • Cáncer – Escorpio – Piscis.<br>
            <b style="padding-left: 4em;"><i> Características:</i></b> maginación, sensibilidad, empatía
          </p>

          <table class="table table-hover" align="center" border="1px solid #cecece;" width="400">
            <tr>
              <th class="bg-info">FUEGO</th>
              <td>Aries</td>
              <td>Leo</td>
              <td>Sagitario</td>
            </tr>
            <tr>
              <th class="bg-info">TIERRA</th>
              <td>Tauro</td>
              <td>Virgo</td>
              <td>Capricornio</td>
            </tr>
            <tr>
              <th class="bg-info">AIRE</th>
              <td>Géminis</td>
              <td>Virgo</td>
              <td>Acuario</td>
            </tr>
            <tr>
              <th class="bg-info">AGUA</th>
              <td>Cáncer</td>
              <td>Escorpio</td>
              <td>Piscis</td>
            </tr>
          </table>
      		
          <hr>
          <h3>LOS PLANETAS</h3><br>
          <p align="justify">
            <b>El SOL</b>
            El sol es el núcleo de la personalidad. Su posición en el mapa de las estrellas da información básica sobre el carácter y la personalidad de un individuo y su proceso de toma de decisiones. Es la parte de la conciencia de un ser humano. La casa del sol está en Leo. El sol adquiere el significado del signo del zodiaco en la que cae al nacer, es decir, su signo solar es la señal bajo la que se nace.
          </p><br>
          <p align="justify">
            <b>LA LUNA</b>
            La luna representa la sensibilidad del individuo, la imaginación, la capacidad de ser receptivo y flexible, y de cómo una persona responde a situaciones emocionalmente. La Luna también representa la mentalidad de un individuo, su espíritu y su intuición. Es la parte inconsciente de un ser. Rige la imaginación, la memoria, la fertilidad. La casa de la Luna está en Cáncer.
          </p><br>
          <p align="justify">
            <b>MERCURIO</b>
            Mercurio representa la actividad del cerebro, la percepción intelectual, expresión y capacidad de comunicación. Mercurio representa el intelecto. Mercurio es el mensajero de los dioses en la mitología. Él gobierna sobre el razonamiento, expresión, pensamiento en general y los nervios e implementa todas las comunicaciones. Su casa está en Géminis y Virgo.
          </p><br>
          <p align="justify">
            <b>VENUS</b>
            El planeta Venus gobierna nuestra relación emocional con el mundo exterior, los reinos de sentimientos y placer. Venus representa el amor y es la diosa de la belleza. Ella reina sobre todo lo que se refiere a la bondad. Ella transmite paz y armonía. El planeta de las artes, su casa está en Tauro y en Libra.
          </p><br>
          <p align="justify">
            <b>MARTE</b>
            Marte es el espíritu de la autoafirmación, la capacidad de integrarse de manera activa en el mundo, la acción agresiva necesaria para derrotar a los oponentes, superar los obstáculos y conquistar su propio espacio vital. Marte representa la energía y es el Dios de la guerra. Se da el valor, la capacidad para la acción, el sentido de la  lucha, sino también la agresividad y la destrucción. Su casa está en Aries. 
          </p><br>
          <p align="justify">
            <b>JúPITER</b>
            Denominado como “el planeta de la suerte”, Júpiter simboliza el juicio, el optimismo, la serenidad y la  satisfacción personal. Júpiter representa la bondad,  la suerte. Júpiter es el dios de Olimpos. Él gobierna sobre las leyes  de la organización material de las cosas.  Júpiter también otorga el despertar espiritual. Su casa está en Sagitario.
          </p><br>
          <p align="justify">
            <b>SATURNO</b>
            Saturno es el lado racional y pesimista de la vida, un comportamiento defensivo y conservador marcada por la desconfianza, la precaución y el cálculo. Saturno representa las profundidades, el tiempo lo que no se inmuta, su metal es el  plomo. Saturno da las cualidades de la paciencia, la prudencia, sino también las tendencias para el retiro y la soledad.
          </p><br>
          <p align="justify">
            <b>URANO</b>
           El primero de los planetas descubiertos utilizando instrumentos ópticos modernos. Urano representa la innovación, el espíritu pionero y la fantasía. Urano crea cambios repentinos e impredecibles. Idealiza  todo a su alrededor. Nos brinda de una naturaleza independiente. Su casa está en Acuario.
          </p><br>
          <p align="justify">
            <b>NEPTUNO</b>
           Este planeta simboliza la capacidad del hombre para la metamorfosis es decir para modificar su propia vida en relación con el cambio constante del entorno real  inmediato. Neptuno representa la inspiración y tendencias psíquicas. Neptuno proporciona un aspecto contemplativo, porque tiene poco espíritu práctico. Es el planeta que se inclina hacia el misticismo. La casa de Neptuno está en Piscis.
          </p><br>
          <p align="justify">
            <b>PLUTON</b>
           Descubierto sólo un poco más de ochenta años atrás, la interpretación de los significados de este planeta se formuló hace poco. Plutón representa el subconsciente profundo ; es decir, el centro de memoria reprimida. Símbolo de la muerte y el renacimiento, que nos da la fuerza para regenerarse. La casa de Plutón está en Escorpio.
          </p><br>

          <table class="table table-hover"  align="center" border="1px solid #cecece;" width="400">
            <thead class="thead-light">
              <tr>
                <th>SIGNO</th>
                <th>PLANETA</th>
                <th>SIMBOLO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ARIES</td>
                <td>MARTE</td>
                <td><img src="{{asset('img/sg30.jpg')}}"></td>
              </tr>
              <tr>
                <td>TAURO</td>
                <td>VENUS</td>
                <td><img src="{{asset('img/sg31.jpg')}}"></td>
              </tr>
              <tr>
                <td>GEMINIS</td>
                <td>MERCURIO</td>
                <td><img src="{{asset('img/sg32.jpg')}}"></td>
              </tr>
              <tr>
                <td>CÁNCER</td>
                <td>LUNA</td>
                <td><img src="{{asset('img/sg33.jpg')}}"></td>
              </tr>
              <tr>
                <td>LEO</td>
                <td>SOL</td>
                <td><img src="{{asset('img/sg34.jpg')}}"></td>
              </tr>
              <tr>
                <td>VIRGO</td>
                <td>MERCURIO</td>
                <td><img src="{{asset('img/sg35.jpg')}}"></td>
              </tr>
              <tr>
                <td>LIBRA</td>
                <td>VENUS</td>
                <td><img src="{{asset('img/sg36.jpg')}}"></td>
              </tr>
              <tr>
                <td>ESCORPIO</td>
                <td>PLUTÓN</td>
                <td><img src="{{asset('img/sg37.jpg')}}"></td>
              </tr>
              <tr>
                <td>SAGITARIO</td>
                <td>JUPITER</td>
                <td><img src="{{asset('img/sg38.jpg')}}"></td>
              </tr>
              <tr>
                <td>CAPRICORNIO</td>
                <td>SATURNO</td>
                <td><img src="{{asset('img/sg39.jpg')}}"></td>
              </tr>
              <tr>
                <td>ACUARIO</td>
                <td>URANO</td>
                <td><img src="{{asset('img/sg40.jpg')}}"></td>
              </tr>
              <tr>
                <td>PISCIS</td>
                <td>NEPTUNO</td>
                <td><img src="{{asset('img/sg41.jpg')}}"></td>
              </tr>
            </tbody>
          </table>
          <br>
          <h3>OTRAS CORRESPONDENCIAS  </h3>
          <table class="table table-hover" align="center" border="1px solid #cecece;" width="400">
            <thead class="thead-light">
              <tr>
                <th>SIGNOS</th>
                <th>PARTES DEL CUERPO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ARIES</td>
                <td>Cabeza</td>
              </tr>
              <tr>
                <td>TAURO</td>
                <td>Cuello</td>
              </tr>
              <tr>
                <td>GEMINIS</td>
                <td>Espalda y sistema nervioso</td>
              </tr>
              <tr>
                <td>CANCER</td>
                <td>Pecho y estómago</td>
              </tr>
              <tr>
                <td>LEO</td>
                <td>Corazón y columna</td>
              </tr>
              <tr>
                <td>VIRGO</td>
                <td>Intestinos y sistema digestivos</td>
              </tr>
              <tr>
                <td>LIBRA</td>
                <td>Riñones</td>
              </tr>
              <tr>
                <td>ESCORPIO</td>
                <td>Órganos sexuales</td>
              </tr>
              <tr>
                <td>SAGITARIO</td>
                <td>Muslos</td>
              </tr>
              <tr>
                <td>CAPRICORNIO</td>
                <td>Rodillas</td>
              </tr>
              <tr>
                <td>ACUARIO</td>
                <td>Tobillos</td>
              </tr>
              <tr>
                <td>PISCIS</td>
                <td>Pies </td>
              </tr>
            </tbody>
          </table>

          
          
      	</p>
      </div>
  	</div>
</section>


{% endblock %}