{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      	<a href="{{ url('astrologica') }}" style="text-decoration: none; color: #212529;">
	      <div class="row no-gutters">
	        
	        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
	          <h2>Horóscopo-Astrológica</h2>
	          <p class="lead mb-0">
	          	<ul class="list-unstyled">
	          		<li><i>Los Decanatos</i></li>
	          		<li><i>Calcula tu Decanato</i></li>
	          		<li><i>Pequeña Guía Astrológica</i></li>
				</ul>
			  </p>
			  <hr>
			  <p>Los doce signos forman un círculo de 360 grados sobre el cual los astrólogos realizan su trabajo. Cada uno de los signos está dividido a su vez en tres partes iguales de 10 grados llamados decanatos. Un decanato corresponde pues a un periodo de días <div class="btn btn-primary"> Leer Mas</div></p>
	        </div>
	        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg'); background-size: 100% 100%;"></div>
	      </div>
  	  	</a>
  	  	<a href="{{ url('signo') }}" style="text-decoration: none; color: #212529; ">
	      	<div class="row no-gutters">
	        
	        <div class="col-lg-6 order-lg-2 my-auto showcase-text">
	          <h2>Tu Signo en Astrología</h2>
	          <p class="lead mb-0">
	          	<ul class="list-unstyled">
	          		<li><i>Los signos del Zodiaco</i></li>
	          		<li><i>Características de los Signos Zodiacales</i></li>
				</ul>
	          </p>
	          <hr>
			  <p>Para una noche o por la vida no sería una cuestión de compatibilidad entre signos? <div class="btn btn-primary"> Leer Mas</div></p>
	        </div>
	        <div class="col-lg-6 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg'); background-size: 100% 100%;"></div>
      		</div>
      	</a>
      	<a href="{{ url('clarividencia') }}" style="text-decoration: none; color: #212529;">
	      	<div class="row no-gutters">
	        	
	        	<div class="col-lg-6 order-lg-1 my-auto showcase-text">
	          		<h2>Clarividencia</h2>
	          		<p class="lead mb-0">
						<ul class="list-unstyled">
	          				<li><i>La numerología</i></li>
						</ul>
	          		</p>
	          		<hr>
			 	 	<p>Clarividencia <div class="btn btn-primary"> Leer Mas</div></p>
	        	</div>
	        	<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg'); background-size: 100% 100%;"></div>
	      	</div>
	    </a>
	    <a href="{{ url('sexo') }}" style="text-decoration: none; color: #212529;">
	      	<div class="row no-gutters">
	        	
	        	<div class="col-lg-6 order-lg-2 my-auto showcase-text">
	          		<h2>Amor y Sexo</h2>
	          		<p class="lead mb-0">
						<ul class="list-unstyled">
	          				<li><i>El Punto G</i></li>
	          				<li><i>Kamasutra</i></li>
	          				<li><i>El Papel de la Mujer</i></li>
	          				<li><i>Besos (Tipos de Besos)</i></li>
	          				<li><i>Las posiciones</i></li>
	          				<li><i>Sexo Tántrico</i></li>
						</ul>
	          		</p>
	          		<hr>
			 	 	<p class="lead mb-0">La palabra tantra está compuesta por dos palabras sanscritas « <b><i>tanoti</i></b> » significando « <b>expansión</b> » y « <b><i>trayati</i></b> » significando « <b>liberación</b> ». <div class="btn btn-primary"> Leer Mas</div></p>
	        	</div>
	        	<div class="col-lg-6 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-4.jpg'); background-size: 100% 100%;"></div>
	      	</div>
	    </a>
	    <a href="{{ url('posiciones') }}" style="text-decoration: none; color: #212529;">
		    <div class="row no-gutters">
		    	
		        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
		          <h2>Las Posiciones</h2>
		          <hr>
		          <p class="lead mb-0">
						El Kama Sutra viene de la palabra sánscrita "kama" que significa deseo (también el nombre del dios del amor, equivalente a Eros o Cupido) y la palabra "sutra" que se traducen como siendo un aforismo de deseo <div class="btn btn-primary"> Leer Mas</div>
	          		</p>
		        </div>
		        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-5.jpg'); background-size: 100% 100%;"></div>
		    </div>
		</a>
		<a href="{{ url('forma') }}" style="text-decoration: none; color: #212529;">
	      	<div class="row no-gutters">
	        	
	        	<div class="col-lg-6 order-lg-2 my-auto showcase-text">
	          		<h2>En Forma</h2>
	          		<p class="lead mb-0">
						<ul class="list-unstyled">
	          				<li><i>La meditación</i></li>
	          				<li><i>La relajación</i></li>
						</ul>
	          		</p>
	          		<hr>
			 	 	<p class="lead mb-0">Después de búsquedas efectuadas en 50 países diferentes alrededor de la tierra resulta que  la meditación mejora la inteligencia, la creatividad, la percepción, el sentido del orden <div class="btn btn-primary"> Leer Mas</div></p>
	        	</div>
	        	<div class="col-lg-6 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-6.jpg'); background-size: 100% 100%;"></div>
	      	</div>
	    </a>
    </div>
  </section>

 
{% endblock %}