{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}


{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-5.jpg');  background-size: 100% 100%;"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>Las Posiciones</h2>
		  <hr>
		  <p style="text-align: justify">El Kama Sutra viene de la palabra sánscrita "kama" que significa deseo (también el nombre del dios del amor, equivalente a Eros o Cupido) y la palabra "sutra" que se traducen como siendo un aforismo de deseo</p>

          <div class="row">
          <div class="col-4 col-lg-4 col-sm-4">
            <div class="row">
                <a href="{{ url('carretilla') }}" style="text-decoration: none;">
                <div class="col-lg-12 col-sm-12">
                    <img src="{{ asset('img/Carretilla.jpg') }}" style="height: 20vw; width:20vw;" class="img-thumbnail rounded float-left" alt="La Carretilla">
                </div>
                <div class="col-lg-12 col-sm-12">
                    <p style="font-size: 1.1em; text-align: center;">La Carretilla</p>
                </div>
                </a>
            </div>
          </div>

          <div class="col-4 col-lg-4 col-sm-4">
            <div class="row">
                <a href="{{ url('fuerzag') }}" style="text-decoration: none;">
                <div class="col-lg-12 col-sm-12">
                    <img src="{{ asset('img/FuerzaG.jpg') }}" style="height: 20vw; width:20vw;" class="img-thumbnail rounded float-left" alt="La Fuerza G">
                </div>
                <div class="col-lg-12 col-sm-12">
                    <p style="font-size: 1.1em; text-align: center;">La Fuerza G</p>
                </div>
                </a>
            </div>
          </div>

          <div class="col-4 col-lg-4 col-sm-4">
            <div class="row">
                <a href="{{ url('jinete') }}" style="text-decoration: none;">
                <div class="col-lg-12 col-sm-12">
                    <img src="{{ asset('img/Jinete.jpg') }}" style="height: 20vw; width:20vw;" class="img-thumbnail rounded float-left" alt="La Jinete">
                </div>
                <div class="col-lg-12 col-sm-12">
                    <p style="font-size: 1.1em; text-align: center;">La Jinete</p>
                </div>
                </a>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-4 col-lg-4 col-sm-4 offset-2">
            <div class="row">
                <a href="{{ url('tumbona') }}" style="text-decoration: none;">
                <div class="col-lg-12 col-sm-12">
                    <img src="{{ asset('img/Tumbona.jpg') }}" style="height: 20vw; width:20vw;" class="img-thumbnail rounded float-left" alt="La Tumbona">
                </div>
                <div class="col-lg-12 col-sm-12">
                    <p style="font-size: 1.1em; text-align: center;">La Tumbona</p>
                </div>
                </a>
            </div>
          </div>

          <div class="col-4 col-lg-4 col-sm-4">
            <div class="row">
                <a href="{{ url('desafio') }}" style="text-decoration: none;">
                <div class="col-lg-12 col-sm-12">
                    <img src="{{ asset('img/Desafio.jpg') }}" style="height: 20vw; width:20vw;" class="img-thumbnail rounded float-left" alt="El Desafio">
                </div>
                <div class="col-lg-12 col-sm-12">
                    <p style="font-size: 1.1em; text-align: center;">El Desafio</p>
                </div>
                </a>
            </div>
          </div>
      </div>
      
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<h3>HISTORIA</h3>
		<p align="justify">
			El Kama Sutra viene de la palabra sánscrita "kama" que significa deseo (también el nombre del dios del amor, equivalente a Eros o Cupido) y la palabra "sutra" que se traducen como siendo un aforismo de deseo. Kama Sutra refiere a un libro indio escrito entre el siglo IV y el siglo VII y atribuido a Vatsyayana. El autor reunió en un solo resumen los trabajos anteriores sobre el Kama y los puso todos en un solo libro. El autor consideró que este era un tema que parecía esencial para el placer y el desarrollo humanos.
		</p>
            
            <p align="justify">
               La colección se ilustra con miniaturas; ofrece consejos de seducción para que una pareja en una relación pueda tener una vida armoniosa, en particular a través de la práctica de diferentes posiciones sexuales. Contrariamente a una creencia generalizada en Occidente, el contenido del Kama Sutra no se limita simplemente a posiciones eróticas; se ocupa principalmente del matrimonio así como también de las relaciones entre hombres y mujeres fuera del mismo. 
            </p>
            <p align="justify">
                  El Kama consiste en el amor sensual y las emociones asociadas con los relacionamiento en general. En la antigua creencia india, el Kama era visto como el estimulante de las acciones, y era personificado por el dios del amor erótico. Se refiere a los placeres sensuales del oído, del olfato, de la vista, del gusto y del tacto y también de los placeres que pueden ser obtenidos por la mente y por el alma. La sensación de placer derivada de la experiencia de los sentidos se asocia con el Kama.
            </p>
            
            <p align="justify">
                  Originalmente el Kama Sutra estaba destinado principalmente a la aristocracia india. El libro sin embargo también da consejos para mujeres y parejas en general e indica que los hombres no están restringidos a las relaciones sexuales solamente; los hombres son introducidos a los misterios de los besos, de las caricias, de las mordidillas y pequeños arañones con el objetivo de provocar el deseo en la mujer. 
            </p>
            <p align="justify">
            La primera versión occidentalizada del Kama Sutra apareció apenas en 1883 y fue traducida por el lingüista inglés Richard Burton, quien no solo tradujo sino que adaptó el lenguaje y las frases a nuestra cultura.
            En Occidente Sutra y Tantra por veces se confunden entre sí. Ahora bien, aunque el Kama Sutra no está completamente libre de espiritualidad, esta colección de consejos prácticos no tiene la misma dimensión espiritual que el Tantra.
            </p>
            <p align="justify">
            El tantra es una doctrina filosófica que utiliza el placer carnal como un trampolín para las experiencias espirituales y el éxtasis místico. El texto principal de referencia para el tantra es el Vigyana Bhairava Tantra.
            </p>
            <br>
            <h3>EL PAPEL DE LA MUJER</h3>
            <p align="justify">
                En los tiempos en que se escribió el libro el Kamasutra, las mujeres gozaban de cierta libertad. Los lugares comunes de la "esposa fiel" que se encarga de la casa se pueden encontrar en el libro, pero junto a esto existen consejos para la seducción y para la forma de engañar al marido. El matrimonio de las viudas, que más tarde sería prohibido en la India, se describe como aceptable. Las cortesanas son como las geishas japonesas. Tienen un lugar significativo en la sociedad. Serían capaces de obtener grandes sumas por sus artes, que incluye la danza y la música. Fueron las autoridades británicas quienes prohibieron estas "asociaciones de prostitutas" a las cuales la sociedad India generalmente permitía hasta entrar en los templos, donde administraban importantes ofrendas.
            </p>

            <br>
            <h3>BESOS</h3>
            <p align="justify">
               La descripción de los diferentes tipos de besos en el Kama Sutra es ricamente detallada.
            </p>

            <p align="justify">     
            Desde el contacto ligero y rápido hasta la penetración intensa e íntima de la lengua, cada tipo de beso produce una respuesta emocional específica en la pareja. En el Kama Sutra, besar es un arte; La boca es una especie de templo sagrado que sólo puede ser compartido por aquellos cuyo amor es verdadero.
            </p>
            <p align="justify">
             Un buen beso estimula todos los sentidos, saboreando los labios del compañero, el olor de su piel, el calor de su tacto, el sonido de su respiración y la mirada en sus ojos en el momento que precede al acto. El beso no se refiere sólo a la boca y a la lengua, todo nuestro cuerpo tiene que centrarse y participar en la experiencia. De la misma manera, un beso proporciona placer y sacude la libido, pero no debe ser causa de asfixia en una batalla de lenguas.
            </p>
            <p align="justify">
            Hay un beso particular para cada situación. Por lo tanto, el Kamasutra identifica cuatro tipos de besos según las diferentes partes del cuerpo en el que se da, está el beso moderado, el beso apretado, el beso firme y el beso suave.
            </p>
            <p align="justify">
            A algunos besos se les dieron incluso nombres, e incluyen:
            </p>

            <br>
            <p align="justify">     
            <b>• El Beso Tocante:</b> Este tipo de beso está lleno de ternura, por lo que se intercambia entre los jóvenes. Según el Kama Sutra: la chica lame los labios de su pareja con la lengua y, cerrando los ojos, coloca sus manos ente las de su pareja.
            </p>
            <p align="justify">     
            <b>• El beso prensado: </b> cuando se presiona con fuerza el labio inferior del compañero. Este beso es símbolo fuerte de deseo.
            </p>
            <p align="justify">     
            <b>• El beso emocionante: </b>  cuando la mujer que recibe un beso apretado mueve su labio inferior, como queriendo más
            </p>
            <p align="justify">     
            <b>• El beso estrecho: </b>  cuando un compañero toma ambos labios de su pareja entre sus propios labios. Se afirma que una mujer debe abstenerse de practicar este beso en un hombre con bigote!
            </p>

            <br>
            <h3>Las posiciones</h3>
            <p align="justify"> 
                  El Kama Sutra cita veinte posiciones básicas, cada una de las cuales puede tener muchas variaciones según la imaginación de la pareja. La mayoría de estas posiciones se aplican a las relaciones sexuales vaginales, pero algunas también permiten la práctica de la penetración anal, mientras que otras se orientan más específicamente a la práctica de la felación, del cunnilingus o de la masturbación.
                  Con el tiempo, las posiciones se clasificaron en diferentes niveles de dificultad de logro: 
            </p>
            <p align="justify">     
            <b> • Posiciones básicas: </b> la posición misionera y su variante la Unión del tigre
            la posición del galgo y su variante la Unión del elefante. Posición de Andrómaca
            </p>
            <p align="justify">     
            <b>  • Posiciones intermedias: </b>  la posición del yunque. la posición de las cucharas.
            la posición de la diosa de la unión y su variante de la Unión Pío
            </p>
            <p align="justify">     
            <b>  • Las posiciones acrobáticas: </b>  la posición de la unión de la abeja y su variante la posición de las escalas. la posición de la Unión del Lobo.la posición de la Gran Apertura.  la posición de la Unión del cangrejo
            </p>



      
            </div>
  	</div>
</section>


{% endblock %}