<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!-- Bootstrap core CSS -->
  <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />

  <!-- Custom fonts for this template -->
  <link href="{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{{ asset('css/landing-page.min.css') }}" rel="stylesheet">

  <title>taroTayuda</title>
  {% block stylesheets %}{% endblock %}

</head>

<style>
    /* Stackoverflow preview fix, please ignore */
    .navbar-nav {
      /*flex-direction: row;*/
    }
    
    .nav-link {
      padding-right: .5rem !important;
      padding-left: .5rem !important;
    }
    
    /* Fixes dropdown menus placed on the right side */
    .ml-auto .dropdown-menu {
      left: auto !important;
      right: 0px;
    }
  </style>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url('index')}}"><h3><b>taroTayuda</b></h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Horóscopo-Astrología
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url('decanatos')}}">Los Decanatos</a>
            <a class="dropdown-item" href="{{url('calcula_decanatos')}}">Calcula tu Decanato</a>
            <a class="dropdown-item" href="{{url('guia_astrologica')}}">Pequeña Guía Astrológica</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tu Signo
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url('signo')}}">Los signos del Zodiaco</a>
            <a class="dropdown-item" href="{{url('caracteristica_signo')}}">Características de los Signos Zodiacales</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url('clarividencia')}}">Clarividencia<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Amor y Sexo
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url('puntog')}}">El Punto G</a>
            <a class="dropdown-item" href="{{url('kamasutra')}}">Kamasutra</a>
            <a class="dropdown-item" href="{{url('papel_mujer')}}">El Papel de la Mujer</a>
            <a class="dropdown-item" href="{{url('besos')}}">Tipos de Besos</a>
            <a class="dropdown-item" href="{{url('posiciones')}}">Las posiciones</a>
            <a class="dropdown-item" href="{{url('sexo')}}">Sexo Tántrico</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{url('posiciones')}}">Las Posiciones<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            En Forma
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url('meditacion')}}">La meditación</a>
            <a class="dropdown-item" href="{{url('relajacion')}}">La relajación</a>
          </div>
        </li>
        
      </ul>
    </div>
  </nav>

  

  {% block body %}{% endblock %}

  

  <!-- Bootstrap core JavaScript -->
  <script src="{{ asset('js/jquery.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

  {% block javascripts %}{% endblock %}

</body>

</html>
